.side_bar
  .side_bar__box
    .side_bar__box__top_item
      %h3.box_user_name
        masa
      %ul.side_bar__icons
        %li.side_bar__icons_edit
          = link_to "#" , class: "edit" do
            = icon('far','edit')
        %li.side_bar__icons_cog
          = link_to "#" , class: "cog" do
            = icon('fas','cog')
  .side_bar__group_list
    .list_top
      .list_top__name
        techcamp
      .list_top__message
        まだメッセージがありません
    .list_top
      .list_top__name
        techcamp
      .list_top__message
        まだメッセージがありません