.side_bar
  .side_bar__box
    .side_bar__top_item
      %h3.side_bar__user_name
        masa
      %ul.side_bar__icons
        %li.side_bar__icons_edit
          = link_to "#" , class: "edit" do
            = icon('far','edit')
        %li.side_bar__icons_cog
          = link_to "#" , class: "cog" do
            = icon('fas','cog')
  .side_bar__group_list
    .group_list_top
      .group_list_top__name
        techcamp
      .group_list__top_massage
        まだメッセージがありません
    .group_list_top
      .group_list_top__name
        techcamp
      .group_list__top_massage
        まだメッセージがありません