* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}


.chat_main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;

  &__info{
  background-color: #ffffff;
  border: #eeeeee;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
    .info_group{
      padding: 35px 0px 0px 0px;
      .group_name{
        font-size: 20px;
        color: #333333;
      }
      .member_name{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
      }
    }
    .edit_button{
      
      border: 1px solid #38aef0;
      font-size: 16px;
      padding: 0 20px;
      margin: 28px 0px;
      width: 72px;
      line-height: 42px;
      .edit_btn{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }


  &__message{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 0 40px;
    .message_box{
      padding: 35px 0px 46px 0px;
      .message_info{
        display: flex;
        justify-content: left;
        &__username{
        color: #333333;
        font-size: 16px;
        }
        &__date{
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
        }
      }
    }
    .message_content{
      color: #434a54;
      font-size: 14px;
      margin-top: 12px;
    }
  }

  &__form{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    .form{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 40px;
      .form_box{
        display: flex;
        padding: 0px 10px;
        position: relative;
        width: 100%;
        &__message{
          width: 100%;
          padding-left: 10px;
          border: none;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;
          padding-right: 10px;
          &__file{
            display: none;
          }
        }
      }
      .submit_btn{
        font-size: 16px;
        color: #fff;
        background-color: #38aef0;
        margin-left: 15px;
        padding: 0px 30px;
        height: 50px;
        border: none;
      }
    }
  }
}

.side_bar{
  background-color: #253141;
  width: 300px;
  a {
    text-decoration: none;
  }

  &__box{
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__top_item {
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      .box_user_name{
        color: #ffffff;
        text-align: center;
      }
      .side_bar__icons{
        display: flex;
        justify-content: end;
      }
      .side_bar__icons_edit{
        .edit{
          color: #ffffff;
          margin-left: 5px;
        }
      }
      .side_bar__icons_cog{
        .cog{
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }

  &__group_list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0px;
    .list_top{
      margin-bottom: 40px;
      &__name{
        font-size: 15px;
        color: #ffffff;
      }
      &__message{
        font-size: 11px;
        margin-top: 5px;
        color: #ffffff;
      }
    }
  }
}